<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- THE CSS LINK  -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

    <!-- K2D FONT  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    
    <!-- TITLE OF WEBSITE -->
    <title>Resume Builder</title>
</head>
<body>
    <div id="front-page">
        <img id="upper-design" src="{{url_for('static', filename='/images/Men/upper design.png')}}" alt="" srcset="">
        <img id="background-design" src="{{url_for('static', filename='/images/Men/the background.png')}}" alt="" srcset="">
        <img id="lets-build" src="{{url_for('static', filename='/images/Men/lets build box.png')}}" alt="" srcset="">
        <img id="lets-build-button" src="{{url_for('static', filename='/images/Men/lets build click.png')}}" alt="" srcset="">
        <img id="men-back-design" src="{{url_for('static', filename='/images/Men/men back design.png')}}" alt="" srcset="">
        <img id="resume" src="{{url_for('static', filename='/images/Men/resume.png')}}" alt="" srcset="">
        <img id="men" src="{{url_for('static', filename='/images/Men/men.png')}}" alt="" srcset="">
        <img id="bottom-design" src="{{url_for('static', filename='/images/Men/bottom blue extended.png')}}" alt="" srcset="">
        <img id="left-bottom-design" src="{{url_for('static', filename='/images/Men/left down.png')}}" alt="" srcset="">
        <img id="right-bottom-design" src="{{url_for('static', filename='/images/Men/right down.png')}}" alt="" srcset="">
    </div>

    <div id="main-page">

    </div>
    
</body>
</html>